{% extends "base.html" %}
{% block head %}
<title>{{title | safe}}</title>
<link rel="stylesheet" href="{{ url('static', filename='stles.css') }}">
{% endblock %}

<body>
<h1>Indexs </h1>
<div class="row">
    <div class="column right">
        {% block right %}
        <p>This is the front page</p>
        {% endblock right %}
    </div>
    <div class="column middle">
        {% block middle %}
        <p>This is the front page</p>
        {% endblock middle %}
    </div>
    <div class="column left">

    </div>
</div>
</body>
