body {
	font-family: Arial, sans-serif;
	color: blue;
}

h1 {
  color: #1a1aff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

#content {
	position: absolute;
	top: 150px;
	left: 5%;
	width: 90%;
	height: 100%;
}


#flex-container {
	display: flex;
	flex-flow: row;
	height: 100%;
}

#flex-left-panel {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: flex-start;
	width: 40%;
	padding-top: 5%;
	border-right: 1px solid #CCC;
}

#flex-right-panel {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 60%;
	background-color: #EAEAEA;
}

#buttons {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	height: 40%;
	width: 100%;
}

.button {
	display: flex;
}

#run-button {
	margin-bottom: 20px;
	width: 180px;
	height: 40px;
	justify-content: center;
	align-items: center;
}

#asset-listing-button {
	margin-bottom: 20px;
	width: 180px;
	height: 40px;
	justify-content: center;
	align-items: center;
}

#linking-template-button {
	margin-bottom: 20px;
	width: 180px;
	height: 40px;
	justify-content: center;
	align-items: center;
}

#reset-button {
	margin-bottom: 20px;
	width: 180px;
	height: 40px;
	justify-content: center;
	align-items: center;
}

#finalize-button {
	margin-top: 20px;
}

#controls {
	display: flex;
	flex-flow: column;
	align-items: center;
	height: 60%;
	width: 100%;
}

#company-list {
	display: flex;
	flex-flow: row wrap;
	min-width: 180px;
	max-width: 30%;
	margin-bottom: 50px;
	height: 30%;
}

.company-box {
	display: flex;
	box-sizing: border-box;
	width: 30%;
	height: 40%;
	min-width: 60px;
	max-height: 40px;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.dz-message {
	text-align: center;
}

.dz-success-mark {
	display: none;
}

.dz-error-mark {
	display: none;
}

.dz-details {
	display: none;
}

.dz-error {
	position: absolute;
	bottom: 2px;
	text-align: center;
	width: 100%;
	color: rgba(255, 0, 0, 0.75);
}

.upload-complete {
	background-color: #e0ffdc !important;
	border: 1px solid #000;
}

.company-box:hover,
.month-picker-cell:hover {
	cursor: pointer;
	background-color: #fff0a1;
}

.company-box:hover {
	border: 1px solid #AAA;
}

.company-box.selected:hover,
.month-picker-cell.selected:hover {
	cursor: pointer;
	background-color: #b0fdb4;
}

.company-box:active,
.month-picker-cell:active {
	box-shadow: 1px 1px 5px #555 inset;
}

.year-cell:hover {
	background-color: #ffffff !important;
}

.selected {
	background-color: #b4dbff;
}

.company-box.selected {
	box-sizing: border-box;
	border: 1px solid #000;
}

td.month-picker-cell {
	width: 58px;
	min-width: 50px;
	height: 40px;
	text-align: center;
	padding-top: 4px;
	border: 1px solid black;
}

tr.month-picker-row {
	border: 1px solid black;
}

#month-picker {
	width: 180px;
	height: 50%;
}

#month-picker-table {
	border: 1px solid black;
	border-collapse: collapse;
}

.year {}

.year-dec {
	font-size: 22px;
}

.year-inc {
	font-size: 22px;
}

.year-selector td {
	height: 30px;
}

#review-table {
	border-collapse: collapse;
	border-spacing: 0;
	font-family: monospace;
	color: #333;
}

tr.review-header {
	font-size: 16pt;
	font-weight: bold;
	text-align: left;
}

tr.review-header td.review-label {
	text-align: left;
}

tr.review-header td.review-value {
	text-align: right;
}

td.review-value {
	text-align: right;
	width: 110px;
}

td.normal-header {
	font-weight: normal;
	padding-left: 20px !important;
	font-size: 20px;
}

tr.review-header td {
	padding: 3px;
}

.review-detail {
	text-align: right;
}

.total-line {
	border-top: 1px solid black;
}

#linking-file {
	display: none;
	visibility: hidden;
}

p {
    color: red;
    text-align: center;
}
