{% extends "base.html" %}
{% block head %}
<title>{{title | safe}}</title>
<link rel="stylesheet" href="{{ url('static', filename='stles.css') }}">
{% endblock %}

<body>
{% block content %}
<h1>Front page</h1>

<div class="row">
    <div class="column left">
        {% block left %}
        <p>This is the left front page</p>
        {% endblock %}
    </div>
    <div class="column middle">
        {% block middle %}
        <p>This is the middle front page</p>
        {% endblock %}
    </div>
    <div class="column right">
        {% block right %}
        <p>This is the right front page</p>
        {% endblock %}
    </div>
</div>
{% endblock %}
</body>
